TARGET = aarch64-linux-musl
OUTPUT = /home/skelitonlord/development/treeforge_toolchain/out/toolchains/aarch64-linux-musl

COMMON_CONFIG += --disable-nls

GCC_CONFIG += --enable-languages=c
GCC_CONFIG += --disable-multilib
GCC_CONFIG += --disable-libquadmath
GCC_CONFIG += --disable-decimal-float
GCC_CONFIG += --disable-libitm
GCC_CONFIG += --disable-fixed-point
